In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file(
'/home/yjalil/code/prelectureMLops/da1774-3dbcfa934d42.json')

project_id = 'da1774'
client = bigquery.Client(credentials= credentials,project=project_id)

In [3]:


client.query('''SELECT Count(*) FROM `da1774.test.taxi1` as how_many''').result()
query_job = client.query('''SELECT * FROM `da1774.test.taxi1` LIMIT 100 ''')
results = query_job.result()
df = results.to_dataframe()
df.head()

/home/yjalil/.pyenv/versions/prelecture/lib/python3.11/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:27:12+00:00,2023-01-01 00:49:56+00:00,1.0,11.70,1.0,N,142,200,1,45.7,1.0,0.5,10.74,3.00,1.0,64.44,2.5,0.00
1,1,2023-01-01 00:43:37+00:00,2023-01-01 01:17:18+00:00,4.0,7.30,1.0,N,79,264,1,33.8,3.5,0.5,7.75,0.00,1.0,46.55,2.5,0.00
2,2,2023-01-01 00:09:29+00:00,2023-01-01 00:29:23+00:00,2.0,11.43,1.0,N,138,33,1,44.3,6.0,0.5,13.26,0.00,1.0,66.31,0.0,1.25
3,1,2023-01-01 00:51:55+00:00,2023-01-01 01:19:20+00:00,1.0,9.50,1.0,N,263,36,1,38.7,3.5,0.5,15.05,6.55,1.0,65.30,2.5,0.00
4,2,2023-01-01 00:41:41+00:00,2023-01-01 01:19:32+00:00,1.0,11.11,1.0,N,132,61,1,47.8,1.0,0.5,10.31,0.00,1.0,61.86,0.0,1.25

In [4]:
from models.regression_taxifare import hello

ModuleNotFoundError: No module named 'models'

In [1]:
from ..models.regression_taxifare import hello

ImportError: attempted relative import with no known parent package

In [2]:
!pwd

/home/yjalil/code/prelectureMLops/project/notebooks

In [1]:
from project.models.regression_taxifare import hello, get_secret

In [2]:
hello()

'Hello, World!'

In [2]:
get_secret()